@import url(styles/header.css);

:root{
--cor-de-fundo: #9949b4;
--cor-cabecalho: #FFFFFF;
--branco: #FFFFFF;
--amarelo: #FFCD2F;
--roxo-degrade: linear-gradient(94.49deg,#733887 35.48%,#C75EEB 143.32%);
--roxo: #733887;
--font-principal: "Poppins"
}

body{
    background-color: var(--cor-de-fundo);
    margin: 0;
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

.cabecalho{
    background-color: var(--cor-cabecalho);
    padding: 1em;
}

.container{
    display: flex;
    align-items: center;
}

.container imagem, .container__frase {
    padding: 1em;
}

.container titulo, .container__frase{
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        font-weight: 400;
        display: block;
    }
}
.container__titulo--negrito {
    font-weight: 700;
}

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    @media screen and (min-width: 1020px) {
        .container__frase {
            padding-left: 5em;
            font-size: 20px;
            display: block;
}
    }

    @import url(styles/header.css);

    :root{
        --cor-de-fundo: #EBECEE;
        --branco: #FFFFFF;
        --amarelo: #FECD2F;
        --roxo-degrade: linear-gradient(94.49deg, #733887 35.48%, #c75EEB 143.32%);
        --fonte-principal: "Poppins"
        --fonte-secundaria: "Josefin Sans"
    }